.App {
  background-color: white;
  text-align: center;
}

.App-header {
  background-color: #02111B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item {
  background-color: #a4b6d737;
  padding-inline: 10px;
  margin: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 80% 10% 10%;
  border-radius: 10px;

}

.tareas {
  background-color: #c6c9ca;
}

.buscador {
  margin: 0 auto;
  max-width: 150px;
}

.buttons {
  border-radius: 10%;
  max-width: 50px;
}

